<p style="color: green"><%= notice %></p>

<%= render @reader %>

<p>
  <strong>Rating:</strong>
  <%= @reader.rating %>
</p>

<div>
  <%= link_to "Edit this reader", edit_reader_path(@reader) %> |
  <%= link_to "Back to readers", readers_path %>

  <%= button_to "Destroy this reader", @reader, method: :delete %>
</div>